<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your "friends" are saying:</p>




<div class="container">

  <div class="row">

    <!-- put profile thumb, name, handle and stats -->
    <div class="col-md-3">

      <% unless current_user.avatar.blank? %>
      <%= image_tag current_user.avatar.url, size: 250, class: "profile_pic" %>
      <% end %>
      <%= link_to current_user.name, root_path %>
      @<%= link_to current_user.username, root_path %>

    </div>

    <!-- tweetfeed -->
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- tweet bar goes here -->
          <% unless current_user.avatar.blank? %>
            <%= image_tag current_user.avatar.url, size: 40 %>
          <% end %>
          <%= link_to 'New Tweet', new_tweet_path %>
        </div>
        <div class="panel-body">
          <% @following_tweets.each do |tweet| %>
            <div class="tweet_panel">

              <div class="media">
                <div class="media-left">
                  <% unless tweet.user.avatar.blank? %>
                    <%= image_tag tweet.user.avatar.url, size: 40 %>
                  <% end %>
                </div>
                <div class="media-body">

                  <strong><%= tweet.user.name %></strong>
                  @<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %>
                  • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
                  <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>

                  <br />

                  <%= tweet.message.html_safe %>

                  <%= link_to 'Show', tweet %>
                  <% unless current_user.id != tweet.user.id %>
                    <%= link_to 'Edit', edit_tweet_path(tweet) %>
                    <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>

              </div>



            </div>
            <% end %>
        </div>
      </div>
      <%= link_to 'All Tweets', tweets_path %>

    </div>

    <div class="col-md-3">
      <!-- suggestions -->

    </div>

  </div>

</div>
